body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.eot');
  src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Medium.woff2') format('woff2'), url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.eot');
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  color: #3B4248;
  background-color: #FCFBF9;
  text-rendering: optimizeSpeed;
  position: relative;
}

.h2 {
  font-weight: 500;
  font-size: 34px;
  line-height: 45px;
  text-transform: uppercase;
  color: #1D3559;
}

.bold {
  color: #63778A;
  font-weight: 600;
}

.dark-bg {
  color: #ffffff;
  background-color: #1D3559;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-6 {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

p + p {
  margin-top: 34px;
}

.accent2 {
  color: #947464;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */

*:focus:not(:focus-visible) {
  outline: none !important;
}

input[type='submit'] {
  -webkit-appearance: none;
  appearance: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list li {
  position: relative;
  padding-left: 30px;
}

.list li::before {
  position: absolute;
  content: '';
  left: 0;
  top: 13px;
  width: 16px;
  height: 16px;
  background-color: #947464;
  border-radius: 50%;
}

a {
  color: inherit;
  font-weight: 500;
}

.info {
  padding-top: 65px;
  padding-bottom: 144px;
}

.info .h2 {
  margin-bottom: 20px;
}

.info .row + .row {
  margin-top: 143px;
}

.info img {
  max-height: 90vh;
}

.way__list {
  margin: 0;
  padding: 87px 50px;
  list-style-position: inside;
}

.way li + li {
  margin-top: 58px;
}

.types {
  padding-top: 75px;
  padding-bottom: 10px;
}

.types .h2 {
  margin-bottom: 35px;
}

.types__list {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1D3559;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.types__list li {
  position: relative;
  padding-top: 116px;
  margin-bottom: 66px;
  padding-left: 10px;
  padding-right: 10px;
  word-wrap: normal!important;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(20% - 30px);
}

.types__list li::before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  margin-left: -49px;
  width: 98px;
  height: 98px;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border: 1px solid #63778A;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #E4EBF0;
  background-size: auto;
}

.types__list li:nth-child(1)::before {
  background-image: url(../img/types1.svg);
}

.types__list li:nth-child(2)::before {
  background-image: url(../img/types2.svg);
}

.types__list li:nth-child(3)::before {
  background-image: url(../img/types3.svg);
}

.types__list li:nth-child(4)::before {
  background-image: url(../img/types4.svg);
}

.types__list li:nth-child(5)::before {
  background-image: url(../img/types5.svg);
}

.types__list li:nth-child(6)::before {
  background-image: url(../img/types6.svg);
}

.types__list li:nth-child(7)::before {
  background-image: url(../img/types7.svg);
}

.types__list li:nth-child(8)::before {
  background-image: url(../img/types8.svg);
}

.types__list li:nth-child(9)::before {
  background-image: url(../img/types9.svg);
}

.types__list li:nth-child(10)::before {
  background-image: url(../img/types10.svg);
}

.types__list li:hover::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.result {
  padding-top: 75px;
  padding-bottom: 68px;
}

.result .h2 {
  margin-bottom: 40px;
}

.result__list {
  font-size: 22px;
  line-height: 24px;
  color: #1D3559;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.result__list li {
  margin-bottom: 34px;
  padding: 66px 12px;
  background-color: #E4EBF0;
  transition: color 0.3s, background-color 1s;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.333333333333336% - 30px);
}

.result__list li:hover,
.result__list li:active,
.result__list li:focus {
  background-color: #1D3559;
  color: #947464;
}

.how {
  padding-top: 35px;
  padding-bottom: 40px;
}

.how .h2 {
  margin-bottom: 44px;
}

.how__image {
  margin-bottom: 50px;
}

.how__item {
  margin-bottom: 50px;
}

.how__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  color: #1D3559;
}

.how p + p {
  margin-top: 35px;
}

.procedure {
  padding-top: 40px;
  padding-bottom: 83px;
}

.procedure .h2 {
  margin-bottom: 52px;
}

.procedure__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.02em;
  counter-reset: proc;
}

.procedure__list li::before {
  counter-increment: proc;
  content: '0' counter(proc) '.';
  margin-right: 10px;
  color: #947464;
}

.procedure__list li {
  padding-top: 35px;
  padding-bottom: 41px;
}

.procedure__list li + li {
  border-top: 1px solid #63778A;
}

.price {
  padding-top: 84px;
  padding-bottom: 70px;
}

.price .h2 {
  margin-bottom: 35px;
}

.price li {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.price li + li {
  margin-top: 39px;
}

.feedback {
  padding-top: 70px;
  padding-bottom: 153px;
}

.feedback .h2 {
  margin-bottom: 43px;
}

.footer__bottom {
  padding-top: 24px;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #ffffff;
}

.footer__logo img {
  width: 82px;
  height: auto;
  background-color: #FCFBF9;
  margin-right: 18px;
}

.footer__soc a {
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 0;
}

.footer__soc a + a {
  margin-left: 25px;
}

.footer__insta {
  position: relative;
  background: url(../img/insta.svg) no-repeat center / contain;
}

.footer__insta::after {
  position: absolute;
  left: 0;
  top: 100%;
  content: 'Запрещен на территории РФ';
  font-size: 12px;
  width: 200px;
}

.footer__wa {
  background: url(../img/wa.svg) no-repeat center / contain;
}

.footer__tg {
  background: url(../img/tg.svg) no-repeat center / contain;
}

@media screen and (max-width: 900px) {
  .col-6 {
    width: calc(100% - 30px);
  }

  .md-none {
    display: none;
  }

  .types__list li {
    width: calc(25% - 30px);
  }

  .result__list li {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    line-height: 17px;
  }

  .h2 {
    font-size: 20px;
    line-height: 24px;
  }

  p + p {
    margin-top: 20px;
  }

  .list li {
    padding-left: 10px;
  }

  .list li::before {
    top: 7px;
    width: 2px;
    height: 2px;
    background-color: #3B4248;
  }

  .info {
    padding-top: 28px;
    padding-bottom: 59px;
  }

  .info .h2 {
    margin-bottom: 14px;
  }

  .info .row + .row {
    margin-top: 59px;
  }

  .info img {
    margin-bottom: 59px;
  }

  .way__list {
    padding: 30px 10px;
  }

  .way li + li {
    margin-top: 37px;
  }

  .types {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .types .h2 {
    margin-bottom: 41px;
  }

  .types__list {
    font-size: 12px;
    line-height: 15px;
  }

  .types__list li {
    padding-top: 67px;
    margin-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
  }

  .types__list li::before {
    width: 55px;
    height: 55px;
    margin-left: -24.5px;
    background-size: 50%;
  }

  .types__list li {
    width: calc(33.333333333333336% - 30px);
  }

  .result {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .result .h2 {
    margin-bottom: 28px;
  }

  .result__list {
    font-size: 20px;
  }

  .result__list li {
    padding: 60px 30px;
    margin-bottom: 21px;
  }

  .how {
    padding-top: 20px;
    padding-bottom: 12px;
  }

  .how .h2 {
    margin-bottom: 24px;
  }

  .how__item {
    margin-bottom: 35px;
  }

  .how__title {
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 20px;
  }

  .how p + p {
    margin-top: 20px;
  }

  .procedure {
    padding-top: 12px;
    padding-bottom: 30px;
  }

  .procedure .h2 {
    margin-bottom: 28px;
  }

  .procedure__list {
    font-size: 14px;
    line-height: 17px;
  }

  .procedure__list li {
    padding-top: 18px;
    padding-bottom: 11px;
  }

  .price {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .price .h2 {
    margin-bottom: 17px;
  }

  .price li {
    font-size: 14px;
    line-height: 17px;
  }

  .price li + li {
    margin-top: 20px;
  }

  .feedback {
    padding-top: 30px;
    padding-bottom: 62px;
  }

  .feedback .h2 {
    margin-bottom: 22px;
  }

  .footer__logo {
    font-size: 6px;
    line-height: 7px;
  }

  .footer__logo img {
    width: 28px;
    margin-right: 4px;
  }

  .footer__soc a {
    width: 20px;
    height: 20px;
  }

  .footer__soc a + a {
    margin-left: 12px;
  }

  .footer__insta::after {
    font-size: 4px;
  }
}

@media screen and (max-width: 576px) {
  .types__list li {
    width: calc(50% - 30px);
  }

  .result__list li {
    width: calc(100% - 30px);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}