.form {
	&__input {
		display: block;
		width: 100%;
		padding: 15px 5px;
		font-size: 14px;
		line-height: 17px;
		color: @white;

		border: none;
		background-color: transparent;
		border-bottom: 1px solid @white;

		&:focus-visible {
			outline: none;
		}

		&+& {
			margin-top: -1px;
		}
	}

	.btn {
		margin-top: 30px;
	}
}

.wpcf7-not-valid-tip {
	font-size: 14px;
}

.wpcf7 form .wpcf7-response-output {
	font-size: 14px;
	line-height: 120%;
	margin: 0;
	margin-top: 10px;
}

.wpcf7-submit {
	margin-top: 30px;
}