// USER VARIABLES SECTION
@accent: #1D3559;
@accent2: #947464;
@white: #ffffff;
@black: #3B4248;
@bg: #FCFBF9;
@bg-light: #E4EBF0;
@brdr: #63778A;


@fontsize: 20px; // Body Font Size
@lineheight: 36px; // Document Line Height

@userfont: 'Montserrat', sans-serif;
@systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

.reset();

*,
*::before,
*::after {
    box-sizing: border-box;
}

// .debugGrid{
// 	.debug(rgba(0, 0, 0, 0.3), 1px #ff0 solid);
// }

.container {
    .wrapper();
}

::placeholder {
	color: @white;
}

::selection {
	background-color: @accent2;
	color: #fff;
}

input, textarea {
	outline: none;
	&:focus:required:invalid { border: 1px solid @accent2 }
	&:required:valid { border: 1px solid green }
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBoldItalic.eot');
    src: url('../fonts/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}


html, body {
    overflow-x: hidden;
}


body {
    font-family: @userfont;
    font-size: @fontsize;
    line-height: @lineheight;
    font-weight: 400;
    color: @black;
    background-color: @bg;
    text-rendering: optimizeSpeed;
    position: relative;

    .sm-block({
        font-size: 14px;
        line-height: 17px;
    });
}

main {
    min-height: 100vh;
}

.h1 {
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
    text-transform: uppercase;
    color: @accent;

    .md-block({
        font-size: 35px;
        line-height: 45px;
    });

    .sm-block({
        font-size: 20px;
        line-height: 24px;
    });

    span {
        .sm-block({
            font-size: 15px;
            line-height: 18px;
        });
    }
}

.h2 {
    font-weight: 500;
    font-size: 34px;
    line-height: 45px;
    text-transform: uppercase;
    color: @accent;

    .sm-block({
        font-size: 20px;
        line-height: 24px;
    });
}

.bold {
    color: @brdr;
    font-weight: 600;
}

.dark-bg {
    color: @white;
	background-color: @accent;
}

.row {
    .row-flex();
}

.col-6 {
    .col();
    .size(6);
    .size-md(12);
}

.col-7 {
    .col();
    .size(7);
    .size-md(12);
}

.col-5 {
    .col();
    .size(5);
    .size-md(12);
}

.md-none {
    .md(display, none);
}

.order-md-1 {
    .md(order, -1);
}

.align-center {
    align-items: center;
}

p+p {
    margin-top: 34px;
    .sm(margin-top, 20px);
}

.accent {
    color: @accent;
}

.accent2 {
    color: @accent2;
}

.text-center {
    text-align: center;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

textarea {
	resize: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
// Remove all mouse-triggered focus styles without breaking keyboard accessibility
*:focus:not(:focus-visible) { 
    outline: none !important; 
}

// fix safari
input[type='submit'] { 
	-webkit-appearance: none; 
	-moz-appearance: none; 
	appearance: none; 
}